{% extends "base.html" %}


{% block contents %}
    {% load static %}
    {% load thumbnail %}
    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    
    
    <div class="content">
        <div id="board_list">
            
                    <h2>
                        <span>ADDRESS update</span>
                    </h2>
                
        </div>
        <form method="POST" class="content">
        {% csrf_token %}  
        <table class="table">
        {{form.as_table}}
        </table>
    
        
              
        

    


        <hr class="mb-4">
        <button type="submit" name="address" value="address">Address</button>
        </form>    
         
</div>
      
      
{% endblock %}
