{% extends "base.html" %}


{% block contents %}
    {% load static %}
    {% load thumbnail %}
    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    
    
    <div class="content">
        <div id="board_list">
            
                    <h2>
                        <span>CHECKOUT ADDRESS</span>
                    </h2>
                
        </div>

    <div class="container my-3">
        <table class="table"><tr><td>


        <form action="{% url 'checkout' user.pk %}", method="POST">
        {% csrf_token %}    
        <table class="table">

        {{form.as_p}}

        </table>
        <input type="submit" class="btn btn-primary float-right" value="CHECKOUT ADDRESS">
    
        </form>    
               
        </td></tr></table>
    </div>

        
        <!-- pagenation nav 
        #{% include 'includes/paginator.html' %}-->

        
      
{% endblock %}
