{% extends "base.html" %}


{% block contents %}
    {% load static %}
    {% load thumbnail %}
    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    
    
    <div class="content">
        <div id="board_list">
            
                    <h2>
                        <span>CHECKOUT ADDRESS</span>
                    </h2>
                
        </div>

        <form action="{% url 'checkout', pk %}", method="POST">

        {% csrf_token %}  
        


        
        <div class=”section-1″>
            <div class=”items”>
              <label class=”label”>street_address</label>
              <input type=”text” name="street_address">
             </div>
          </div>
        <div class=”section-2″>
            <div class=”items”>
                <label class=”label”>aptment_address</label>
                <input type=”text” name="aptment_address">
            </div>
        </div>
        <div class=”section-3″>
            <div class=”items”>
                <label class=”label”>zip</label>
                <input type=”text” name="zip">
            </div>
        </div>
        <div class=”section-4″>
            <div class=”items”>
                <label class=”label”>address_type</label>
                <input type=”text” name="address_type">
            </div>
        </div>    

        

        <input type="submit" class="btn btn-primary float-right" value="CHECKOUT ">
    
        </form>    
               
    </div>

        
        <!-- pagenation nav 
        #{% include 'includes/paginator.html' %}-->

        
      
{% endblock %}
