{% extends "base.html" %}

{% block title %}
   CHECKOUT ADDRESS
{% endblock title %}

 
{% block contents %}
    {% load static %}
    {% load thumbnail %}
    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    <div class="content">
        <div id="board_list">
            
                    <h2>
                        <span>CHECKOUT ADDRESS</span>
                    </h2>
                
        </div>
        <form action="" method="POST"> 
        {% csrf_token %}    
        <table class="table">

        {{form.as_table}}

        </table>
        <input type="submit" value="submit">               
        </form>    
               

    </div>

        
        <!-- pagenation nav 
        #{% include 'includes/paginator.html' %}-->

        <div class="container my-3">
          <table class="table">
          <tr><td> <a href="\">back to checkout</a>
              </td>               
          </tr></table>
        </div>  


      
{% endblock %}
