{% extends 'base.html' %}
{% block contents %}

<div class="container my-3">
    <table class="table">
    <thead class="thead-dark">
    <tr>
    <th>{{ category.sort }}{{ product.name }}</th>
    </tr>
    </thead>

    <tbody>
                        
    <tr><td>{{ product.description }}</td></tr>
    <tr><td>{{ product.price }}</td></tr>
	<tr><td>{{ product.quantity }}</td></tr>


	</tbody>
    </table>
</div>

                
<div class="container my-3">
   <table class="table">
               
    <tbody>
    <tr><td><a class="nav-link" href="{% url 'index' %}">HOME</a></td></tr>    
                
    </tbody>
   </table>
</div>
                
{% endblock contents %}