{% extends 'base.html' %}
{% block contents %}

{% load thumbnail %}

<div class="container my-3">
  <table class="table">
  <thead class="thead-dark">
  <tr>
  <th>CATEGORY</th>
  </tr>
  </thead>

  <tbody>
                      
  <tr><td>{% for category in categories %}
          <a href="#">{{ category.sort }}</a><br>
          {% endfor %}  
      </td>
        
  </tr></tbody>
  </table>
</div>





<div class="container my-3">
  <table class="table">
  <thead class="thead-dark">
  <tr>
  <th>ALL PRODUCTS</th>
  </tr>
  </thead>

  <tbody>
  <tr> <td>

    <table><tr><td>
      <div class="row tm-mb-90 tm-gallery">

        {% for product in products %}
        {% thumbnail product.image "100x100" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
        {% endthumbnail %}
        {% endfor %}

  
      </td>
      </tr>
      </table>     

  </td></tr>
  </tbody>

  </table>
 
</div>

<div class="container my-3">
    <table class="table">
    <thead class="thead-dark">
    <tr>
    <th>공지사항</th>
    </tr>
    </thead>

    <tbody>
                        
    <tr><td>  <a class="nav-link" href="{% url 'notice' %}">공지사항</a>
     
        </td>
          
    </tr></tbody>
    </table>
</div>

       
{% endblock contents %} 
