{% extends 'base.html' %}
{% block contents %}


<div class="container my-3">
  <table class="table">
  <thead class="thead-dark">
  <tr>
  <th>CATEGORY</th>
  </tr>
  </thead>

  <tbody>
                      
  <tr><td>{% for category in categories %}
          <a href="#">{{ category.sort }}</a><br>
          {% endfor %}  
      </td>
        
  </tr></tbody>
  </table>
</div>





div class="container my-3">
  <table class="table">
  <thead class="thead-dark">
  <tr>
  <th>ALL PRODUCTS</th>
  </tr>
  </thead>

  <tbody>
  <tr> <td>

   <table><tr><td>
  

      {% for product in products %}
     
          
      <a href="#">"{{ product.name }}"></a>
                           
     
     {% endfor %}
  </td></tr></table>   

  </td></tr>
  </tbody>

  </table>
 
</div>

<div class="container my-3">
    <table class="table">
    <thead class="thead-dark">
    <tr>
    <th>공지사항</th>
    </tr>
    </thead>

    <tbody>
                        
    <tr><td>  <a class="nav-link" href="{% url 'notice' %}">공지사항</a>
      {% url 'notice' %}
        </td>
          
    </tr></tbody>
    </table>
</div>

       
{% endblock contents %} 
