{% extends 'base.html' %}
{% block contents %}

{% load thumbnail %}

{% if messages %}
<div class="card notification-card nitification-invitation">
  <div class="card-body">
  {% for message in messages %}
    <div class="card-title">{{messaga}}</div>
    {% endfor %}
  </div>
</div>
{% endif %}


<div class="container my-3">
  <table class="table">
  <thead class="thead-dark">
  <tr>
  <th>CATEGORY</th>
  </tr>
  </thead>

  <tbody>
                      
  <tr><td>{% for category in categories %}
    <a href="{% url 'show_category' category.pk %}">{{ category.sort }}</a><br>
          {% endfor %}  
      </td>
        
  </tr></tbody>
  </table>
</div>





<div class="container my-3">
  <table class="table">
  <thead class="thead-dark">
  <tr>
  <th>ALL PRODUCTS</th>
  </tr>
  </thead>

  <tbody>
  <tr> <td>

    <table><tr><td>
      <div class="row tm-mb-90 tm-gallery">

        {% for product in products %}
       
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
        <figure class="effect-ming tm-video-item">
        {% thumbnail product.image "200x200" crop="center" as im %}
        <a href="{% url 'product_detail' product.pk %}"> 
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}" class="img-fluid"></a>
        <figcaption class="d-flex align-items-center justify-content-center">
        <div class="d-flex justify-content-between tm-text-gray"><a href="{% url 'product_detail' product.pk %}">{{product.name}}</a></div>
        </figure>        
        {% endthumbnail %}   
        </figcaption>                    
        </div>
        {% endfor %}

  
      </td>
      </tr>
      
      </table>     

  </td></tr>
  </tbody>

  </table>
 
</div>

<div class="container my-3">
    <table class="table">
    <thead class="thead-dark">
    <tr>
    <th>공지사항</th>
    </tr>
    </thead>

    <tbody>
                        
    <tr><td>  <a class="nav-link" href="{% url 'notice' %}">공지사항</a>
     
        </td>
          
    </tr></tbody>
    </table>
</div>




<div class="container my-3">
  <h3>BOOK AN APPOINTMENT</h3>
</div>

<div class="container py-5">

<form method="POST" action="{% url 'appointment' %}">
    
  {% csrf_token %}

  
  <div class="mb-3">
    <label for="fname" class="form-label">First Name<span class="text-danger">*</span></label><br>
    <input required type="text" name="fname" placeholder="Enter your First Name"><br>
  </div>
  <div class="mb-3">
    <label for="lname" class="form-label">Last Name<span class="text-danger">*</span></label><br>
    <input required type="text" name="lname" placeholder="Enter your Last Name"><br>
  </div>

  <div class="mb-3">
    <label for="Email" class="form-label">Email</label><br>
    <input required type="email" name="email" placeholder="Enter your email">
  </div>
  <div class="mb-3">
    <label for="Mobile" class="form-label">Mobile</label><br>
    <input required type="text" name="mobile" placeholder="Enter your mobile">
  </div>
  
  <div class="mb-3">
    <label for="message" class="form-label">Message</label><br>
    <textarea name="request" rows="5" placeholder=""></textarea>
  </div>

  <div class="mb-3">    
    <button type="submit" class="btn btn-primary">Send</button>
  </div>

</form>
<div>
       
{% endblock contents %} 
