{% extends 'base.html' %}


{% block contents %}
    {% load static %}
   
    <div class="content">
        <div id="board_list">
            <div id="board_list_title">
                <div id="board_title">
                    <h2>
                        <span>NOTICE</span>
                    </h2>
                </div>
            </div>
        </div>
    <div class="board_view">
        <table class="table">
            <thead class="thead-dark">
            <tbody>
            <tr>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <td>
                    <p>
                        {{ post.content }}
                    </p>
                </td>
            </tr>
            </tbody>
            </thead>
        </table>
    </div>
    <div class="board_bottom">
        <span class="left">
            <a href="{% url 'notice' %}">LIST</a>
        </span>
    </div>
    </div>

  

{% endblock %}