{% extends "base.html" %}


{% block contents %}
   
    <div class="container my-3">
         
        <form action="{% url 'cart_or_buy' product.pk %}", method="POST">
            {% csrf_token %}
         
            <div class="product_img_area">
                <div class="key_img">
                    <img src = '{{ product.image.url }}' width='300' />
                </div>
            </div>

            <div class="infoArea">
                <h3>{{ product.name }}</h3>
                <div class="detailinfo">
                    <p>{{ product.description }}</p>
                </div>
             
                <div class="detail_payment">
                    <table>
                        <tbody>
                        <tr>
                            <th>
                                <span>
                                    PRICE
                                </span>
                            </th>
                            <td>
                                <span>
                                    <strong>
                                        {{ product.price }} 원
                                    </strong>
                                </span>
                            </td>
                        </tr>
                        
                        </tbody>
                    </table>

                    <table> <tbody>
                        <tr>
                                    <th>
                                        수량
                                    </th>
                                    <td>

                                        <input type="number" name="quantity" id="quantity"
                                        value="{{ form.quantity.value|default_if_none:'' }}">   
                                                                              
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                                        
                </div>
                
                </div> 
                            
             
        
        </div>

        

                               
                <div class="container my-3">
                    <table class="table">
                    
                
                    <tbody>
                                        
                    <tr><td> <button type="submit" name="add_cart" value="add_cart">+ ADD SHOPPING CART</button>
                    {% csrf_token %}
                        </td>               
                    </tr>
                    <tr><td><button type="submit" name="buy" value="buy_it_now">BUY IT NOW</button>
                        {% csrf_token %}
                            </td>               
                    </tr>
                    <tr><td> <a href="#">장바구니로 이동</a>
                                </td>               
                    </tr>    
                        
                
                
                
                </tbody>
                    </table>
                </div>
                

                </div>
               
        </form>
    </div>


{% endblock contents %} 